javascript:
  toastr.options.timeOut = 10000;
  toastr.options.extendedTimeOut = 300;
  toastr.options.progressBar = true;
  toastr.options.positionClass = "toast-top-left";
- if flash.any?
  - flash.each do |k,v|
    javascript:
      var noticeType;
      if(#{raw(ApplicationController::TOASTR_TYPES.map(&:to_s))}.indexOf("#{k}") == -1) {
        // default to 'success'
        noticeType = 'success';
      } else if('#{k}' == 'info') {
        // use 'success' color instead of 'info' to differentiate from button color
        noticeType = 'success';
      } else {
        noticeType = "#{k}";
      }
      toastr[noticeType]("#{v}");
