ruby:
  # some constants...move these somewhere more appropriate
  time_format = '%l:%M'

.row
  .large-12.columns
    h2
      <a class="black" href="#"><i class="fa fa-arrow-circle-left"></i></a>
      '&nbsp;
      = "#{@start_date_time.strftime('%B %e')}-#{(@start_date_time + 6.days).day}"
      '&nbsp;
      <a class="black" href="#"><i class="fa fa-arrow-circle-right"></i></a>
.row
  .large-6.columns
    = render 'time_slots',
      am_pm: 'AM',
      start_date_time: @start_date_time,
      prayer_slot_counts: @prayer_slot_counts,
      owned_prayer_slots: @owned_prayer_slots,
      inactive_prayer_slots: @inactive_prayer_slots
  .large-6.columns
    = render 'time_slots',
      am_pm: 'PM',
      start_date_time: @start_date_time,
      prayer_slot_counts: @prayer_slot_counts,
      owned_prayer_slots: @owned_prayer_slots,
      inactive_prayer_slots: @inactive_prayer_slots
