// growl notification styles
#toast-container {
  .toast {
    opacity: .9;
  }
}

.topbar {
  background-color: #333;
}

.time-slots {
  a {
    color: #999;
  }

  .empty {
    background-color: lightpink;
  }

  .owned {
    background-color: #25aae1;
  }

  .inactive {
    color: #bbb;
    background-color: #eee;
  }
}

.strikethrough {
  text-decoration: line-through;
  color: #999;
}
