.topbar {
  background-color: #333;
}

.time-slots {
  a {
    color: #999;
  }

  .empty {
    background-color: lightpink;
  }

  .owned {
    background-color: lightblue;
  }

  .inactive {
    color: #bbb;
    background-color: #eee;
  }
}
